*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    background: blue;
    height: 50px;
    width: 100%;
}

.judul_header{
    padding: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.isi_konten_kiri{
    background: white;
    width: 70%;
    height: 550px;
    float: left;
}

.nama{
    margin: 50px;
    margin-bottom: 0px;
}

.foto{
    height: 150px;
    width: 150px;
    float: left;
    margin: 40px;
    border-radius: 100%;
}

p{
    text-align: justify;
    padding: 10px;
}


.isi_konten_kanan{
    background: white;
    width: 30%;
    height: 550px;
    float: right;
}

.foto_kanan{
    margin-left: 230px;
    margin-top: 50px;
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.social_media{
    text-align: center;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: blue;
}

.footer{
    color: white;
    text-align: center;
    background: blue;
    height: 30px;
    padding-top: 5px;
    width: 100%;
    float: left;
}